- if notice
  %p#notice.callout.warning.margin-top-2= notice

= render 'criteria'

%h1.text-center= "Entries"

%table.hover
  %thead
    %tr
      %th= "Description"
      %th= "Log Type"
      %th= "Start Time"
      %th= "Stop Time"
      %th= "Total Time"
      - if current_user_is_admin
        %th= "User Email"
      %th{:colspan => "3"}
  = turbo_stream_from "entries"
  %tbody#entries
    = render @entries

= link_to 'New Entry', new_entry_path, class: "button primary"

%div.margin-2.text-center
  != pagy_nav(@pagy)